extends layout

block content
	div Scheduled tasks
	hr
	div(class='flex-container-horizontal')
		div(class='flex-container-vertical')
			div Tasks completed on:
				input(type='date', id='completion_date')
			div(style='overflow: scroll; height: 64vmin; width: 50vw;')
				table(class='with-border')
					for task in tasks
						tbody(class=(task.Due ? 'task-due' : 'task-not-due'), style='display: block; border: 2px solid black;', id='task_' + task.id)
							tr
								th Task
								td #{task.Name}
							tr
								th Repeat
								td #{task.RepeatEvery} days
							tr
								th Last done
								td #{task.WhenLastCompleted}
							tr
								th Due on
								td #{task.DueOn}
							each df in task.TaskDataFields
								tr
									th #{df.Name}
									td
										input(type='text', id='datafield', dfId=df.id)
							tr
								td(colspan='2')
									button(onclick='recordTaskCompletion(' + task.id + ')') Record task completion
		include includes/keypad.pug
	hr
	div Tasks completed today
	each task in completed_tasks
		table(class='flex-container-vertical with-border', id='tasks_completed_today')
			tr
				td Task
				td #{task.Task.Name}
			each tdata in task.TaskData
				tr
					td #{tdata.TaskDataField.Name}
					td #{tdata.Value}
			tr
				td(colspan='2')
					button(onclick='removeTaskCompletion(' + task.id + ');') Delete
	include includes/nav
	script(type='text/javascript'). 
		var focus_input = $();

		$(window).on('load', function () {
			$("input").each(function (index) {
				$(this).focus(function () {
					focus_input.css("background-color", "");
					focus_input = $(document.activeElement);
					focus_input.css("background-color", "#FFFF00");
				});
			});

			$("#completion_date").val(moment().format('YYYY-MM-DD'));
		});


		function recordTaskCompletion(task_id) {
			var fields = $("#task_" + task_id + " > tr > td > input");
			var f = {};
			f["TaskCompletionDate"] = $("#completion_date").val();

			for (field of fields) {
				var id = $(field).attr('dfId');
				var value = $(field).val();
				f[id] = value;
			}

			$.ajax({
				type: "POST",
				url: '/task/' + task_id + '/complete',
				data: JSON.stringify({data: f}),
				contentType: 'application/json',
			}).done(function (data) {
				location.reload();
			}).fail(function (error) {
				showFlashMessage(error.responseText);
			});
		}


		function removeTaskCompletion(task_completion_id) {
			$.ajax({
				type: "DELETE",
				url: '/task/task_completion/' + task_completion_id + '/remove',
			}).done(function (data) {
				location.reload();
			}).fail(function (error) {
				showFlashMessage(error.responseText);
			});
		}


		function keypad(button) {
			focus_input.val(focus_input.val() + button);
		};


		function clear_input() {
			focus_input.val("");
		};


		function ok() {
		}; 
		